.main-content.bg-light
{
    background-color: #d3d3d3 !important;
}

.card
{
    margin-left: auto;
    margin-right: auto;
    border-color: lightgray;
    border-width: 8px;
}

.colorless 
{
    margin-left: auto;
    margin-right: auto;
    border-color: lightgray;
    border-width: 8px;
    background-color: rgb(230, 230, 230);

}

.grass
{
    margin-left: auto;
    margin-right: auto;
    border-color: lightgray;
    border-width: 8px;
    background-color: rgb(92, 167, 92);

}
.list-group-item
{
    background: none;
    border: 5px;
}
.attack
{
    background: none;
    border: none;
}

.effect
{
    background: none;
    border: none;
}

.dex-data
{
    font-size: 10px;
    text-align: center;
    background-color: white;
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px;
    margin-left: 5%;
    
}

.card-img-top
{
    max-width: 90%;
    max-height: 90%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    border: 5px solid lightgray;
}

.button
{
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    max-width: 20vw;
    max-height: 20vw;
    
}
.button-colormode 
{
    display: flex;
}
.button-colormode img
{
    margin-left: auto;
    margin-right: auto;
    max-width: 20vw;
    max-height: 20vw;
    width: 2vw;
    height: 2vw;
    display: block;
}
.button-colormode p
{
    margin: .5vw; 
}
.selfPortrait
{
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    max-width: 25vw;
    max-height: 25vw; 
    text-align: center;
}
.active
{
    color: purple;
}

.fullart
{
    border-width: 0px!important;
}

.pack-layout
{
    display: flex;

}

.pack-layout img
{
    display: block;
    margin-top: 2.5vw;
}

.navbar.navbar-expand-lg.navbar-light
{
    background-color: white;
}
